*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #DAE0E2;
}
.logo{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}
.score{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    padding: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.game{
    width: 700px;
    height: 500px;
    background-color: white   ;
    position: relative;
    overflow: hidden;
    z-index: -20;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #00000020, -5px -5px 10px #ffffff50;
}
button{
    position: absolute; font-size: 15px; height: 50px; width: 90px; border: none; border-radius: 30px; background-color: #2ecc72; color: white;box-shadow: 5px 5px 5px #00000020, -5px -5px 10px #ffffff50; transition: 0.5s cubic-bezier(0.68, -0.55, 0.26, 1.55); cursor: pointer;
}
button:focus{
    outline: none;
}
button:hover{
    transform: scale(1.1);
}
#en{
    display: none;
}
.bars{
    position: absolute;
    left: 650px;
    height: 100%;
    width: 50px;
    background-color: #75DA8B;
    z-index: -15;
 display: none;
}
.one{
    width: 70px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: 100%;
    background-color: #4C4B4B;
}
.two{
    width: 70px;
    height: 30px;
    position: absolute;
    left: -10px;
    bottom: 100%;
    background-color: #4C4B4B;
}
.space{
    position: relative;
    top: 0px;
    width: 100%;
    height: 150px;
    background-color:white;
    z-index: -10;
}
@keyframes bar{
    0%{left: 700px;}
    100%{left: -60px;}
}
.bird{
    position: absolute;
    top: 0px;
    height: 50px;
    width: 50px;
    background-image: url("1.png");
    background-size: cover; 
    z-index: -1;
    display: none;
}
.animate{
    animation: bar 1.5s infinite linear;
}
@keyframes jump {
    0%{top: 0px;}
    100%{top: 470px;}
}

@media only screen and (max-width: 500px){
    @keyframes bar{
        0%{left: 400px;}
        100%{left: -50px;}
    }
}